.categories .section-title {
    width: 312px;
    margin: 0 auto;
}

.cards-categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.categoria {
    width: 312px;
    height: 220px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding: 16px 24px;
}

.categoria img {
    margin-top: 41px;
    width: 80px;
    height: 80px;
}

/* .categoria.pcts-internacionais img{
    margin-top: 24px;
}  */

.categoria h4 {
    font-size: 28px;
    margin-top: 24px;
}

.categoria a {
    text-decoration: none;
    color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
    .categories .section-title {
        width: 100%;
        margin: 0 auto;
        padding-top: 88px;
    }

    .cards-categories {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1024px) {

    .cards-categories {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .categoria {
        width: 280px;
        margin-right: 120px;
    }

}

@media screen and (min-width: 1440px) {
    .categoria {
        margin-right: 28px;
    }
}