.destinations .item header{
    position: static;
    background-color: transparent;
    padding: 0px;
    display: block;
}

.destinations .img-tokyo{
    background-image: url(../img/tokyo-mobile.jpg);
    background-size: cover;
    width:312px;
    height:360px;
    margin: auto;
}
.destinations .img-osaka{
    background-image: url(../img/osaka-mobile.jpg);
    background-size: cover;
    width:312px;
    height:360px;
    margin: 40px auto;
}

.destinations .item h4{
    font-size: 28px; 
    margin: 24px;    
}

.destinations .item p{
    font-size: 20px;
    margin: 0 0 24px 24px;
    line-height: 33px;
}

.destinations .button-link{
    width:312px;
    margin-left: 24px;
}

@media screen and (min-width: 768px){
.destinations .img-tokyo{
    background-image: url(../img/tokyo.jpg);
    width:648px;
    height:452px;
    margin: auto;
}
.destinations .img-osaka{
    background-image: url(../img/Osaka.jpg);
    width:648px;
    height:452px;
    margin: auto;
}
.destinations .item h4{
    margin: 24px 0 24px 60px;    
}

.destinations .item p{
    margin: 24px 0 24px 60px;
    width: 615px;
    text-align: justify;
}
.destinations .button-link{
    margin:0 0 40px 60px;
}
}

@media screen and (min-width: 1024px){
    .items{
        width:50%;
    }
    .destinations-items{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width:648px;
        gap:24px;
    }

    .destinations .img-tokyo,
    .destinations .img-osaka {
    width: 100%;
    height: 452px;
    margin: 0 0 0 60px;
    
}

    .destinations .item p{
    text-align: justify;
}

}

@media screen and (min-width: 1440px){
.destinations-items{
    display: flex;
    flex-direction: row;
}
.destinations .img-osaka,
.destinations .img-tokyo{
width:588px;
}

.destinations .item p {
        width: 590px;
 }

}