header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}
.logo{
    display: inline-block;
    width:68px;
    height:64px;
}

.menu{
    margin-top:24px;
}

nav{
    display:none; 
}

input[type='checkbox']:checked ~ nav{
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background-color:var(--background-tertiary-color);
}
.listLinks li{
    margin: 16px;
}
.listLinks li a{
    color: var(--text-secondary-color);
    margin-left:50px;
    text-decoration:none;

}